.header {
  padding: 1.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo-img {
  width: 60px;
  display: inline-block;
  position: relative;
  top: 12px;
}
.logo-img img {
  max-width: 100%;
  max-height: 100%;
  transition: transform ease 0.1s;
}

.logo-img img:hover {
  transform: scale(1.1);
}
/* menu de itens, incluindo a linha */
.header-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-menu-items {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  padding-right: 1rem;
}

.menu-items {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: transform ease 0.1s;
}
.menu-items:hover {
  transform: scale(1.1);
}

.header-line {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
}

.icon-logout {
  transition: transform ease 0.1s;
}
.icon-logout:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 780px) {
  .header-menu-items {
    gap: 2.5rem;
  }
}
