@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container-all-content {
  display: flex;
  padding-right: 7rem;
  justify-content: right;
  align-items: center;
  color: #fff;
  height: 50rem;
  font-family: "Poppins", sans-serif;
}

.logo-name {
  justify-content: center;
  align-items: left;
  color: #fff;
  font-size: 6.5rem;
}

.logo-name-git {
  font-family: 'Italiana', serif;
  padding-right: 1rem;
}

.logo-name-fit {
  font-family: 'Italiana', serif;
  padding-left: 3rem;
}

.text-info {
  padding-top: 3rem;
  width:400px ;
}

.container-label{
  padding-left: 3rem;
  width:400px ;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-content{
  margin-top: 6rem;
  letter-spacing: 0.2rem;
  display: flex;
  font-size: bold;
  align-items: center;
  width: 400px;
  height: 500px;
}
