.landing-page {
  height: 100%;
}
.container-all-content {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-family: "Poppins", sans-serif;
  height: 85%;
}
/* problema com essa altura */

.container-content {
  width: 26rem;
  display: flex;
  align-items: center;
  padding-right: 8rem;
}

.logo-name {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.logo-name-git {
  padding-right: 1rem;
}

.logo-name-fit {
  padding-left: 1rem;
}

.text-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
