@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.form-register-allcontent{
  display: flex;
  justify-content: center;
  padding: 1.5rem 3rem;
  width: 100%;
  gap: 1rem;
}
/* All content */
.All-content-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-register-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  min-height: 320px;
  height: 100%;
  width: 50%;
  border-radius: 25px;
  border: 0.9px solid rgba(0, 0, 0, 0.604);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
  background-color: rgba(220, 235, 247, 0.766);
}

/* Menu content */
.menu-register {
  display: flex;
  gap: 4rem;
  width: 100%;
}

.container-height-weight-register {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container-input-weight-register,
.container-input-hight-register {
  display: flex;
  width: 49%;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.container-input-hight-register {
  justify-content: center;
}

.container-first-content-register,
.container-second-content-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.container-second-content-register {
  padding-top: 3.3rem;
}

.container-choose-photo-register{
  display: flex;
  align-items: center;
  gap: 5px;
}
.container-choose-photo-register p{
  font-size: 12px;
  font-weight: 500;
  color: rgba(115, 83, 186, 1);
}

.custom-file-input-register {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-file-label-register {
  width: 12rem;
  height: 12rem;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 0.9px solid rgba(115, 83, 186, 1);
  background-color: #ffffff5f;
  cursor: pointer;
  text-align: left;
}

.custom-file-label-register::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  content: "+";
  font-size: 7vw;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: rgb(144, 144, 144);
  color: rgba(115, 83, 186, 1);
  transform: translate(-50%, -50%);
}

.input-register {
  width: 100%;
  padding: 2% 5% 3% 5%;
  height: 6.5vh;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  font-weight: bold;
  font-size: 77%;
  outline: none;
  caret-color: black;
}

.input-register::placeholder {
  color: rgb(0, 0, 0);
}

.input-register::value {
  color: rgba(115, 83, 186, 1);
}

.input-weight-register,
.input-hight-register {
  font-size: 77%;
  color: black;
  background-color: transparent;
  color: rgba(115, 83, 186, 1);
  background: transparent !important;
  font-weight: bold;
  width: 45%;
  height: 7.6vh;
  outline: none;
  caret-color: black;
  padding: 2% 5% 3% 5%;
}

.input-weight-register-text,
.input-hight-register-text {
  font-size: 77%;
  color: black;
  background-color: transparent;
  color: rgba(115, 83, 186, 1);
  background: transparent !important;
  font-weight: bold;
  width: 50%;
  height: 7.6vh;
  outline: none;
  caret-color: black;
  padding: 2% 5% 3% 5%;
  display: flex;
  align-items: center;
}

.input-hight-register::placeholder,
.input-weight-register::placeholder {
  color: rgb(0, 0, 0);
}

.input-weightHight-register::value {
  color: rgba(115, 83, 186, 1);
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderR-round {
  left: 10px;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 23px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #9c9c9c;
  border-radius: 34px;
}

.sliderR-round:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 5px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ffffff;
}

input:checked + .sliderR-round {
  background-color: rgba(115, 83, 186, 1);
  border-radius: 34px;
}

input:checked + .sliderR-round:before {
  -webkit-transform: translateX(23px);
  transform: translateX(25px);
}

.sliderR.round:before {
  border-radius: 50%;
}

/*button config*/
.divButton-register {
  display: flex;
  justify-content: center;
}

/* Button config */
.registerprofessionalProfile {
  font-weight: bold;
  font-size: 77%;
}

.input-register-age::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
.input-register-age { 
  -moz-appearance: textfield;
  appearance: textfield;
 
 }

 .select-gender-register{
  width: 100%;
  height: 6.5vh;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  font-weight: bold;
  font-size: 77%;
  caret-color: black;
  padding: 2% 5% 3% 2%;
  outline: 0;
 }
 .select-gender-register:focus{
  outline: 0;
 }
 .select-gender-register option:not(:disabled) {
  color: rgba(115, 83, 186, 1); 
}



/* Button config */
.divregisterprofessionalProfile {
  width: 70%;
  padding: 8% 5% 3% 5%;
  background-color: transparent;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
}

/* Button config */
.buttonSave {
  background-color: rgba(115, 83, 186, 1);
  height: 3vw;
  width: 8vw;
  border-radius: 25px;
  padding: "10px 24px";
  font-family: "Poppins";
  font-size: 0.9vw;
  font-weight: 800;
  line-height: "20px";
  letter-spacing: "0.11em";
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.buttonSave:hover {
  background-color: rgb(83, 39, 180);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/* form {
  width: 100%;
  height: 100%;
} */

@media (max-width: 780px) {
  .menu-register {
    display: flex;
    flex-direction: column;
    gap: 0rem; 
    padding-top: 110px;
  }
  .container-choose-photo-register{
    flex-direction: column;
    justify-content: center;
  }
  .input-register {
    padding: 2% 5% 3% 5%;
    height: 40px;
  }
  .select-gender-register{
    height: 40px;
   }
  .form-register-allcontent{
    max-height: 600px;
    overflow-y: auto;
  }
  .custom-file-label-register {
    width: 85px;
    height: 85px;
  }
  .custom-file-label-register::before {
    width: 75px;
    height: 75px;
    font-size: 75px;
  }
  .input-weight-register, .input-hight-register {
    height: 52px;
  }
}

@media (min-width: 781px) and (max-width: 900px) {
  .container-register-content{
    width: 80%;
  }  
}

@media (min-width: 781px) and (max-width: 1100px) {
  .container-register-content{
    width: 65%;
  }  
}