.structure-photo-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-profile {
  border-radius: 5rem;
  background-color: #c7d3eb;
  width: 170px;
  text-align: center;
  height: 50px;
  padding: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
}

.username {
  margin-top: -30px;
}

.moldure-photo {
  background-color: #c7d3eb;
  width: 200px;
  height: 200px;
  border-radius: 25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem #7353ba solid;
}

.photo-profile {
  height: 100%;
}

.icon-edit-container {
  background-color: azure;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  bottom: 40px;
  left: 110px;
  border-radius: 30px;
  position: relative;
}

.icon-edit-container:hover {
  cursor: pointer;
  scale: 1.2;
}

