@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.form-edit-allcontent {
  display: flex;
  justify-content: center;
  padding: 1.5rem 3rem;
  gap: 1rem;
}

/* All content */
.All-content-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-edit-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  min-height: 320px;
  height: 100%;
  width: 50%;
  border-radius: 25px;
  border: 0.9px solid rgba(0, 0, 0, 0.604);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
  background-color: rgba(220, 235, 247, 0.766);
}

/* Menu content */
.menu-edit {
  display: flex;
  gap: 4rem;
}

.container-first-content-edit,
.container-second-content-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.container-second-content-edit {
  padding-top: 2rem;
}
.container-choose-photo-edit {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container-choose-photo-edit p {
  font-size: 12px;
  font-weight: 500;
  color: rgba(115, 83, 186, 1);
}
.custom-file-input-edit {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-file-label-edit {
  width: 8vw;
  height: 8vw;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 0.9px solid rgba(115, 83, 186, 1);
  background-color: #ffffff5f;
  cursor: pointer;
  text-align: left;
}

.custom-file-label-edit::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  content: "+";
  font-size: 7vw;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: rgb(144, 144, 144);
  color: rgba(115, 83, 186, 1);
  transform: translate(-50%, -50%);
}

.input-edit {
  width: 100%;
  padding: 2% 5% 3% 5%;
  height: 6.5vh;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  font-weight: bold;
  font-size: 77%;
  outline: none;
  caret-color: black;
}

.input-edit::placeholder {
  color: rgb(0, 0, 0);
}

.input-edit::value {
  color: rgba(115, 83, 186, 1);
}

.input-weight-edit,
.input-hight-edit {
  font-size: 77%;
  color: black;
  background-color: transparent;
  color: rgba(115, 83, 186, 1);
  background: transparent !important;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 50%;
  height: 7.6vh;
  outline: none;
  caret-color: black;
  padding: 2% 5% 3% 5%;
}

.input-hight-edit::placeholder,
.input-weight-edit::placeholder {
  color: rgb(0, 0, 0);
}

.input-weightHight-edit::value {
  color: rgba(115, 83, 186, 1);
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderE-round {
  left: 10px;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 23px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #9c9c9c;
  border-radius: 34px;
}

.sliderE-round:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 5px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ffffff;
}

input:checked + .sliderE-round {
  background-color: rgba(115, 83, 186, 1);
  border-radius: 34px;
}

input:checked + .sliderE-round:before {
  -webkit-transform: translateX(23px);
  transform: translateX(25px);
}

.sliderR.round:before {
  border-radius: 50%;
}

/*button config*/
.divButton-edit {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.editprofessionalProfile {
  font-weight: bold;
  font-size: 77%;
}

.input-edit-age::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-edit-age {
  -moz-appearance: textfield;
  appearance: textfield;
}
.select-gender-edit {
  width: 100%;
  height: 6.5vh;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  font-weight: bold;
  font-size: 77%;
  caret-color: black;
  padding: 2% 5% 3% 2%;
  outline: 0;
}

/* Button config */
.diveditprofessionalProfile {
  width: 70%;
  padding: 8% 5% 3% 5%;
  background-color: transparent;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
}

.buttonSave {
  background-color: rgba(115, 83, 186, 1);
  height: 3vw;
  width: 8vw;
  border-radius: 15px;
  padding: "10px 24px";
  font-family: "Poppins";
  font-size: 0.9vw;
  font-weight: 800;
  line-height: "20px";
  letter-spacing: "0.11em";
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.buttonLogin {
  background-color: rgba(115, 83, 186, 1);
  height: 3vw;
  width: 8vw;
  border-radius: 15px;
  padding: "10px 24px";
  font-family: "Poppins";
  font-size: 0.9vw;
  font-weight: 800;
  line-height: "20px";
  letter-spacing: "0.11em";
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.buttonLogin:hover {
  background-color: rgb(83, 39, 180);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.divDeleteAccount-edit {
  width: 100%;
  display: flex;
  justify-content: right;
}
.deleteAccount-edit {
  background-color: #a62626;
  padding: 6px 12px;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 0.7rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.deleteAccount-edit:hover {
  background-color: #6f1a1a;
  cursor: pointer;
}
form {
  align-items: center;
  flex-direction: column;
}

@media (max-width: 780px) {
  .menu-edit {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-top: 110px;
  }
  .container-choose-photo-edit {
    flex-direction: column;
    justify-content: center;
  }
  .input-edit {
    padding: 2% 5% 3% 5%;
    height: 40px;
  }
  .select-gender-edit {
    height: 40px;
  }
  .form-edit-allcontent {
    max-height: 600px;
    overflow-y: auto;
  }
  .custom-file-label-edit {
    width: 85px;
    height: 85px;
  }
  .custom-file-label-edit::before {
    width: 75px;
    height: 75px;
    font-size: 75px;
  }
  .container-second-content-edit {
    padding-top: 0.6rem;
  }
  .input-weight-edit,
  .input-hight-edit {
    height: 52px;
  }
  .divDeleteAccount-edit{
    justify-content: center;
  }
}

@media (min-width: 781px) and (max-width: 900px) {
  .container-edit-content {
    width: 80%;
  }
}

@media (min-width: 781px) and (max-width: 1100px) {
  .container-edit-content {
    width: 65%;
  }
}
