@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* All content */
.All-content-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-edit-content {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38vw;
  width: 60vw;
  border-radius: 25px;
  border: 0.9px solid rgba(0, 0, 0, 0.604);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
  background-color: rgba(240, 248, 255, 0.766);
}

  /* Menu content */
.menu-edit {
  display: flex;
  width: 90%;
  margin-bottom: 5%;
}

.container-first-content-edit,
.container-second-content-edit {
  text-align: center;
  width: 50%;
  margin-left: 5vw;
  height: 100%;
}

.custom-file-input-edit {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-file-label-edit {
  width: 8vw;
  height: 8vw;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 0.9px solid rgba(115, 83, 186, 1);
  background-color: #ffffff;
  cursor: pointer;
  text-align: left;
}

.custom-file-label-edit::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  content: "+";
  font-size: 7vw;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: rgb(144, 144, 144);
  color: rgba(115, 83, 186, 1);
  transform: translate(-50%, -50%);
}

.addPhoto-edit {
  margin-right: 6vw;
  background: transparent !important;
  font-weight: bold;
  color: rgba(115, 83, 186, 1);
}
  
.input-edit {
  width: 70%;
  padding: 2% 5% 3% 5%;
  height:3vw;
  font-weight: bold;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  font-size: 0.8vw;
}
  
.input-edit::placeholder {
  color: rgb(0, 0, 0);
}

.input-edit::value {
  color: rgba(115, 83, 186, 1);
}

.input-weight-edit {
  font-size: 0.8vw;
  color: black;
  background-color: transparent;
  color: rgba(115, 83, 186, 1);
  background: transparent !important;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 33%;
  height: 100%;
  height: 50px;

}

.input-hight-edit {
  font-size: 0.8vw;
  color: black;
  background-color: transparent;
  color: rgba(115, 83, 186, 1);
  background: transparent !important;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 34%;
  height: 100%;
  margin-left: 3%;
  height: 50px;

}

.weightHight-edit{
  margin-top: 2vw;
  margin-bottom: -1.5vw;
}

.input-hight-edit::placeholder,
.input-weight-edit::placeholder {
  color: rgb(0, 0, 0);
}

.input-weightHight-edit::value {
  color: rgba(115, 83, 186, 1);
}

  /*switch*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #919191;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(115, 83, 186, 1);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
 /*button config*/
  .divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vw;
  }
  .editprofessionalProfile{
    font-weight: bold;
    font-size: 0.8vw;
  }
  
  .professionalProfile {
    font-size: 0.8vw;
  }
  


  /* Button config */
.diveditprofessionalProfile {
  width: 70%;
  padding: 8% 5% 3% 5%;
  background-color: transparent;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}


.professionalProfile {
  font-size: 0.8vw;
}

/* Button config */
.diveditprofessionalProfile {
  width: 70%;
  padding: 8% 5% 3% 5%;
  background-color: transparent;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.editprofessionalProfile {
  font-size: 0.8vw;
  font-weight: bold;
}

.divButton-edit {

}


.buttonSave {
  background-color: rgba(115, 83, 186, 1);
  height: 3vw;
  width: 6vw;
  border-radius: 10px;
  padding: '10px 24px';
  font-family: 'Poppins';
  font-size: 1vw;
  font-weight: 800;
  line-height: '20px';
  letter-spacing: '0.11em';
  color: black;
  cursor: pointer;
}
.buttonSave:hover {
  background-color:rgb(83, 39, 180);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.deleteAccount-edit{
  background-color: #ff00003a;
  height: 1vw;
  width: 6vw;
  border-radius: 5px;
  padding: '10px 24px';
  font-family: 'Poppins';
  font-size: 0.7vw;
  font-weight: 800;
  line-height: '20px';
  letter-spacing: '0.11em';
  color: black;
}
.deleteAccount-edit:hover{
  background-color: #ff00008f;
  cursor: pointer;
}
  
  