@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* All content */
.All-content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.container-login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 450px;
  height: 500px;
  min-width: 20rem;
  min-height: 30rem;
  border-radius: 25px;
  border: 0.9px solid rgba(0, 0, 0, 0.604);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
  background-color: rgba(240, 248, 255, 0.766);
}
.logo-name-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 500%;
}

.logo-name-git-login,
.logo-name-fit-login {
  color: rgb(255, 255, 255);
  font-family: "Italiana", serif;
}

/* Menu content */
.loginTitle {
  color: rgba(115, 83, 186, 1);
  font-size: 40px;
  font-weight: bold;
}

.input-login {
  font-size: 1rem;
  width: 70%;
  height: 4rem;
  font-weight: bold;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  outline: none;
  caret-color: black;
}

.input-login::placeholder {
  color: rgb(0, 0, 0);
}

.input-login::value {
  color: rgba(115, 83, 186, 1);
}

/* Button config */
.divButton-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.registerOption {
  color: rgba(115, 83, 186, 1);
  cursor: pointer;
}

.buttonLogin {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7353ba;
  text-align: center;
  border-radius: 25px;
  padding: 20px 34px;
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 0.11em;
  color: #ffffff;
}
.buttonLogin:hover {
  background-color: #422483;
  border-color: #7353ba;
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.formlogin-container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-inputs-btn-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 360px) and (max-width: 500px) {
  .container-login-content {
    gap: 50px;
    width: 350px;
    height: 400px;
    min-width: 20rem;
    min-height: 30rem;
    border-radius: 25px;
    border: 0.9px solid rgba(0, 0, 0, 0.604);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
    background-color: rgba(240, 248, 255, 0.766);
  }
}