@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* All content */
.All-content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.container-login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 20vw;
  height: 27vw;
  min-width: 100px;
  min-height: 250px;
  border-radius: 25px;
  border: 0.9px solid rgba(0, 0, 0, 0.604);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.638);
  background-color: rgba(240, 248, 255, 0.766);
}
.logo-name-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 500%;
}

.logo-name-git-login,
.logo-name-fit-login {
  color: rgb(255, 255, 255);
  font-family: 'Italiana', serif;
}




/* Menu content */
.loginTitle {
  color: rgba(115, 83, 186, 1);
  font-size: 40px;
  font-weight: bold;
}

.input-login {
  font-size: 0.9vw;
  width: 70%;
  height: 20%;
  font-weight: bold;
  color: rgba(115, 83, 186, 1);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  background: transparent !important;
  outline: none;
  caret-color: black;
  
}

.input-login::placeholder {
  color: rgb(0, 0, 0);
}

.input-login::value {
  color: rgba(115, 83, 186, 1);
}


/* Button config */
.divButton-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 0.8vw;
}

.forgetPassEdit:hover {
  color: rgba(115, 83, 186, 1);
}

.registerOption {
  color: rgba(115, 83, 186, 1);
  cursor: pointer;
}

.registerOption {
  color: rgba(115, 83, 186, 1);
  cursor: pointer;
  animation: brilho 0.5s infinite alternate;
}

.buttonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7353BA;
  text-align: center;
  border-radius: 25px;  
  padding: 20px 34px;
  font-family: Poppins;
  font-size: 0.8vw;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  
}
.buttonLogin:hover {
  background-color: #422483;
  border-color: #7353BA;
}
.formLogin{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (max-width: 780px) {
  .container-login-content {
    width: 300px;
    height: 320px;
  }
}


