/* div com botão */
.chat-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.chat-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.chat-button:hover {
  cursor: pointer;
}

.close-button-msg {
  border-radius: 50%;
  padding: 5px;
  background-color: #7353ba;
}

.chat-container-msg {
  display: none;
  height: 22rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #f2f2f2;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: bottom right;
  padding: 20px 10px;
  z-index: 0;
  border-radius: 25px;
  opacity: 0.3s ease, transform 0.3s ease;
}

.chat-open {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  opacity: 1;
  transform: scale(1);
}

/* Input de pesquisaa */
.search-box-msg {
  height: 3rem;
  width: 17rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.search-text-msg {
  border: none;
  background: none;
  outline: none;
  font-size: 0.7rem;
  width: 100%;
}
.box-users-msgs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  padding-right: 10px;
}
.msg-card {
  width: 17rem;
  height: 45px;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #f2f2f2;
}

.msg-card:hover{
  background-color: #afadad;
}

.msg-card:active{
  background-color: #ec9cfc;
}

.img-card-msgs {
  width: 15%;
  height: 80%;
}
.img-card-msgs img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.user-msg-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.username-msg {
  font-weight: 500;
  font-size: 0.7rem;
  white-space: nowrap;
}
.useroccupation-msg {
  color: #64748b;
  font-size: 0.6rem;
  white-space: nowrap;
}

.container-icon-new-msgs {
  padding: 0rem 0rem 0rem 5rem;
}
.container-icon-new-msgs p {
  border-radius: 50%;
  border: 1px solid black;
  font-size: 0.6rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

.box-open-msgs{
  width: 17rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.header_open_msg{
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.body_box_msgs{
  width: 16.3rem;
  height: 80%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  overflow-y: scroll;
  padding: 5px;
  border: 2px solid rgb(70, 69, 70);
  background-color: #cdc4e1;
  border-radius: 0.5rem;
}

.div_send_message{
  width: 17rem;
  display: flex;
}

.input_send_message{
  width: 14rem;
  height: 2rem;
  border: 2px solid rgb(70, 69, 70);
  background-color: #cdc4e1;
  border-radius: 0.5rem;
}

.button_send_message{
  width: 2rem;
  height: 2rem;
  margin-left: 5px;
  border-radius: 5%;
}

.button_send_message:hover{
  background-color: #dadbdc;
}

.button_send_message:active{
  border: 2px solid rgb(157, 156, 157);
  background-color: #c7b4f2;
  border-radius: 0.5rem;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 4px;
}

/* Estilizando o thumb (indicador de posição) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
}

/* Estilizando a área da barra de rolagem que não é ocupada pelo thumb */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
