body {
  caret-color: transparent;
}

.structure-contact-profile {
  display: flex;
  position: relative;
}

.centered {
  justify-content: center;
  width: 100%;
}

.container-contact-profile {
  font-family: "Poppins", sans-serif;
  width: 60%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.structure-carrossel {
  position: absolute;
  right: 0.1rem;
  width: 30vw;
  height: 88vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.align-centered {
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 200px;
}

.buttonAdd {
  background-color: rgba(115, 83, 186, 1);
  width: 10rem;
  height: 2rem;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.buttonAdd:hover {
  background-color: rgb(135, 105, 199);
  cursor: pointer;
}

.div-buttonAdd {
  width: 80%;
  display: flex;
  justify-content: right;
}

@media (min-width: 380px) and (max-width: 900px) {
  .container-contact-profile {
    gap: 10px;
  }
  .container-progress-bar {
    height: 42vh;
    gap: 30px;
  }
  .div-buttonAdd {
    justify-content: center;
  }
}
